      /* Laptop:1024px */

      @media (max-width:1024px){

        .body{
            min-width: 110%;
            width: 100%;
            height: fit-content;
        }

  /* SECTION-1 */

        .section1{
            min-width: 100%;
            width: 100%;
            height: 188vh;
        }
        .video1{
            top: 32rem !important;
            position: absolute;
            width: 720px;
            height: 105vh;
        }
        .sec1-h1, .sec1-h2{
            font-size: 75px !important;
        }
        .sec1-content{
            font-size: 20px !important;
        }
        .content1, .content2 {
            width: 100%;
            padding-right: 0;
            font-size: 22px !important;
        }

 /* SECTION-2 */

      .section2{
        min-width: 100%;
        width: 100% !important;
        height: 212vh !important;
      }
      .section-2-heading{
        left: 45rem !important;
        top: 80rem !important;
        position: relative !important;
        margin-right: 17rem !important;
      }
      .section-2-content{
        margin-right: -26rem;
        top: 92rem;
        left: 46rem;
      }
      .section2-content{
        right: 38rem;
        position: absolute;
        width: 100%;
        top: 25rem;
      }
      .video-2{
        position: relative;
        top: 0rem;
      }
      .section-2-link{
        left: 46rem;
        top: 98rem;
        right: -20rem;
      }
      .trust-logos{
        padding: 0;
      }

      /* Section-3 */
      
      .section3{
        min-width: 100%;
        position: absolute;
        top: 125rem;
        width: 100%;
        height: 160%;
      }
      .section-3-heading{
        left: 8rem !important;
        top: 5rem !important;
        position: absolute !important;
        margin-right: -20rem !important;
      }
      .section-3-content{
        margin-right: -26rem;
        top: 4rem;
        left: 8rem;
      }
      .sect3-content{
        top: 28rem;
        position: absolute;
      }
      .video3{
        left: 25rem;
        position: relative;
        top: -5rem;
      }
      .section-3-link{
        left: 7rem;
        top: 2rem;
        right: 0rem;
      }

      /* Section-4 */

      .section4{
        min-width: 100%;
        position: absolute;
        top: 176rem;
        height: 160vh;
        width: 100%;
      }
      .video4{
        left: 0rem;
        position: relative;
        top: 2rem;
      }
      .link4{
        top: 3rem;
      }

      /* Section-5 */

      .section5{
        position: relative;
        top: 105rem;
      }
      .emoji2{
        bottom: 10rem;
        z-index: -1;
        position: relative;
        left: 40rem !important;
      }
      .stat-number{
       text-align: center;
      }
      .stat-content {
        padding: 1rem 52rem 0rem 0rem;
    }
    /* .stat-number1 {
        position: absolute;
        width: 15%;
    } */
    .stat-number2 {
        left: 25rem;
    }
    .stat-number3 {
        bottom: 2.4rem;
        position: absolute;
        width: 15%;
        left: 42rem;
    }

    /* Section-6 */

    .section6 {
        position: relative;
        top: 106rem;
    }
    .qoute-content {
        width: 40%;
        position: relative;
        bottom: 22rem;
        left: 35rem;
    }
    .survey-text{
        top: -60px;
        width: 95%;
        font-size: 14px;
    }
    .video-4 {
        width: 548px;
        border-radius: 0px 300px 300px 0px;
        height: 70vh;
    }

    /* Section-7 */
    .section-7 {
        width: 100%;
        height: 182vh;
        position: relative;
        top: 102rem;
    }
    .card1{
        position: absolute;
        left: 12rem;
        height: 75vh;
        width: 24%;
    }
    .card2{
        position: absolute;
        left: 32rem;
        height: 75vh;
        width: 24%;
    }
    .card3{
        position: relative;
        top: 25rem;
        width: 27%;
        height: 75vh;
        left: 8.5rem;
    }
    .card4{
        left: 28.7rem;
        position: relative;
        width: 27%;
        height: 75vh;
        top: 1rem;
    }
    .card2-link {
        margin-top: 10px;
    }
    .card3-link {
        margin-top: 58px;
    }

    /* Section-8 */
    
    .section8 {
        position: relative;
        top: 102rem;
    }

    /* Section-9 */

    .section9 {
        position: relative;
        height: 25vh;
        top: 85rem;
    }
    .slack-logo{
        position: relative;
        right: 1rem;
        width: 27% !important;
    }
    .section-9-contents{
        bottom: 6rem;
        position: relative;
        left: 4rem;
    }
    .row1-text, .row2-text, .row3-text, .row4-text, .row5-text {
        font-size: 12px;
        margin-bottom: 12px;
    }
    .row1{
        position: relative;
        left: 8rem;
    }
    .row2 {
        position: relative;
        left: 17rem;
        bottom: 11.8rem;
    }
    .row3 {
        position: absolute;
        left: 25rem;
        bottom: 15.6rem;
    }
    .row4 {
        position: absolute;
        left: 33rem;
        top: 0px;
    }
    .row5 {
        position: absolute;
        left: 42rem;
        top: 0px;
    }

    /* Footer */
     
    .footer{
        position: relative;
        width: 100%;
        top: 108rem;
        right: 1rem;
    }
    .footer-h1, .footer-h2, .footer-h3, .footer-h4, .footer-h5, .footer-h6, .footer-h7,.footer-h8{
        position: relative;
        color: #000;
        font-weight: 600;
        font-size: 14px;
        position: absolute;
        margin-left: 4rem;
    }
    .footer-h2 {
        margin-left: 7.5rem;
    }
    .footer-h3 {
        margin-left: 11.5rem;
    }
    .footer-h4 {
        margin-left: 15rem;
    }
    .footer-h5 {
        margin-left: 26rem;
    }
    .footer-h6 {
        margin-left: 35.5rem;
    }
    .footer-h7 {
        margin-left: 41.5rem;
    }
    .footer-h8 {
        width: 100%;
        color: #1264a3;
        margin-right: 62rem;
    }
    .footer-left {
        width: 20%;
        position: relative;
        left: 46rem;
    }

    }
    
    
    /* Tablet:768px */

@media (max-width:768px) {
    .section1 {
        height: 120vh;
        height: 100%;
    }
    .video1{
        top: 70rem !important;
        position: absolute;
        right: 0;
        z-index: 0;
    }
    .google-img{
        position: absolute;
        left: 16rem;
    }
    }
    
      /* Resolution:768px and 770px */

    @media (min-width:768px) and (max-width:770px){
        .section-2-link{
            top: 100rem !important;
            right: 5rem !important;
        }
        .section-2-content{
            /* top: 90rem !important; */
            left: 46rem !important;
            font-size: 24px !important;
        }
    }
    

        /* Animated Links */

    @media screen and (max-height: 300px) {
        .section-2-link {
            margin-top: 40px;
        }
    }
    @media screen and (max-height: 300px) {
        .section-3-link {
            margin-top: 40px;
        }
    }

    /* @media screen and (max-width:900px) and (min-width:600px) {
        body{
            position: relative;
            overflow-x: hidden;
        }
    } */

    /* New */

      /* Resolution:1326px */

    @media (max-width:1326px){


              /* Navbar */

        .navbar{
            position: relative;
          max-width: 100%;
          width: 100%;
          background-color: #541554 !important;
        }

        .nav-item, .nav-link1{
            position: relative;
            right: 3rem;
            padding-right: 0;
        }
        .sign-in-link{
            left: 13rem;
            top: -35px;
        }
        .search-icon{
            left: 11.5rem;
            position: absolute;
        }
        .nav-btn{
            bottom: 6.5rem;
            position: relative;
        }
        .section2{
            width: 100%;
            height: auto;
        }
        .card1, .card2, .card3, .card4{
            height: 75vh;
        }
    }

          /* Tablet:768px */

    @media(max-width:768px){
        .body{
            overflow-x: hidden;
            width: 100%;
            height: 100%;
        }
        .navbar{
            position: absolute;
            max-width: 160%;
            width: 160%;
        }
        .section1{
            height: 210vh !important;
            max-width: 170%;
            width: 160.9%;
        }
        .video1{
            position: absolute;
            top: 42rem !important;
            left: 1rem;
        }
      /* Section-2 */

        .section2{
            height: 202vh;
            width: 160% !important;
            position: relative;
        }
        .section-2-heading{
            padding-right: 15rem;
            left: 45rem !important;
            top: 45rem !important;
        }
        .section2-content{
            position: absolute;
            top: 0rem;
        }
        .section-2-content{
            top: 55rem;
            left: 5rem;
            font-size: 24px;
        }
        .section-2-link{
            top: 63rem !important;
            left: 46rem;
            z-index: 99;
        }
        
        /* Section-3 */

        .section3{
            height: 180vh;
            width: 160% !important;
            position: absolute;
            top: 135rem;
        }
        .section-3-heading{
            padding-right: 8rem;
            left: 8rem !important;
            top: 45rem;
        }
        .section-3-content{
            top: 5rem;
            left: 8rem;
            font-size: 24px;
        }
        .section-3-link{
            top: 8rem;
            right: 0rem;
        }

              /* Section-4 */

      .section4{
        position: relative;
        top: 56rem;
        height: 165vh;
        width: 160%;
      }
      .video4{
        left: 0rem;
        position: relative;
        top: 2rem;
      }
      .link4{
        top: 6rem;
      }

      /* Section 5 */

      .section5 {
        left: 15rem;
        position: relative;
        top: 60rem;
    }
    .emoji1 {
        bottom: 14rem;
        position: relative;
        right: 15rem;
    }
    .emoji2 {
        bottom: 12rem;
        z-index: -1;
        position: relative;
        left: 31rem !important;
    }   
    .stat-number1{
        left: -5rem;
        width: 15%;
    } 
    .stat-number2{
        left: 17rem;
    }
    .stat-number3{
        bottom: 3.4rem;
        width: 17%;
        left: 38rem;
    }
    .section-5-content{
        font-size: 22px;
    }
    .number1, .number2, .number3{
        font-size: 6rem;
    }
    .stat-content1, .stat-content2, .stat-content3{
        font-size: 24px;
        width: 200%;
    }
    /* Section-6 */

    .section6 {
        position: relative;
        top: 60rem;
    }
    .founder-section{
        left: 2rem;
        position: relative;
        bottom: 13rem;
    }
    .founder-name{
        font-size: 24px;
    }
    .founder-content{
        font-size: 18px;
    }
    .founder-link{
        font-size: 24px;
    }
    .customer-qoute{
        width: 150%;
        position: relative;
        left: 2rem;
        font-size: 48px;
    }
    .qoute-content {
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
    }
    .survey-text{
        top: 2rem;
        width: 150%;
        font-size: 15px;
    }
    .video-4 {
        width: 1062px;
        border-radius: 0px 300px 300px 0px;
        height: 117vh;
    }

     /* Section-7 */
     .section-7 {
        width: 155%;
        height: 208vh;
        position: relative;
        top: 62rem;
    }
    .section-7-heading{
        padding: 1rem 4rem 1rem 7rem;
        font-size: 4rem;
    }
    .card1{
        position: absolute;
        left: 19rem;
        height: 79vh;
        width: 27%;
    }
    .card1-link{
        margin: 2rem 0 0 0 ;
    }
    .card2{
        position: absolute;
        left: 45rem;
        height: 79vh;
        width: 28%;
    }
    .card3{
        position: relative;
        top: 26rem;
        width: 50%;
        height: 75vh;
        left: 2.5rem;
    }
    .card4{
        left: 28.7rem;
        position: relative;
        width: 50%;
        height: 75vh;
        top: 2rem;
    }
    .img-1{
        width: 20rem;
    }
    .card2-link {
        margin-top: 10px;
    }
    .card3-link {
        margin-top: 58px;
    }

    /* Section-8 */

    .section8 {
        width: 155%;
        position: relative;
        top: 62rem;
    }
    .section-8-heading {
        font-size: 60px;
    }
    .sec8-btn1, .sec8-btn2 {
        font-size: 26px;
    }

    /* Section-9 */

    .section9 {
        height: 0vh;
        position: relative;
        top: 45rem;
    }
    .slack-logo{
        position: relative;
        right: 2rem;
        width: 28% !important;
    }
    .section-9-contents{
        position: relative;
        left: 78px;
    }
    .row-heading {
        font-size: 28px;
    }
    .row1-text, .row2-text, .row3-text, .row4-text, .row5-text {
        font-size: 18px;
        margin-bottom: 12px;
    }
    .row1{
        position: relative;
        left: 8rem;
    }
    .row2 {
        position: relative;
        left: 21rem;
        bottom: 15.6rem;
    }
    .row3 {
        position: absolute;
        left: 31rem;
        bottom: 20.5rem;
    }
    .row4 {
        position: absolute;
        left: 40rem;
        top: 0px;
    }
    .row5 {
        position: absolute;
        left: 52rem;
        top: 0px;
    }

    /* footer */

    .footer {
        text-align: center;
        position: relative;
        width: 155%;
        height: 0vh;
        top: 84rem;
    }
    .footer-left{
        position: relative;
        left: 48rem;
    }
    .footer-text{
        font-size: 14px;
    }
    .footer-h1, .footer-h2, .footer-h3, .footer-h4, .footer-h5, .footer-h6, .footer-h7,.footer-h8{
        font-size: 15px;
    }

    }

      /* Mobile-Large:425px */

@media (max-width:425px) {

    .body{
        width: 100%;
    }

    .navbar{
        left: 5rem;
        max-width: 450%;
        width: 348% !important;
    }
    .nav-logo{
        height: 20vh;
        width: 100%;
        /* padding-right: 37px; */
        max-width: 150%;
    }
    
    /* Section-1 */

    .section1{
        height: 420vh !important;
        max-width: 450%;
        width: 393% !important;
    }
    .video1{
        width: 720px;
        height: 660px !important;
        top: 99rem !important;
        left: 36rem;
        position: absolute;
        z-index: 0;
    }
    .sec1-h1, .sec1-h2{
        padding: 88px;
        text-align: center;
        width: 100% !important;
        font-size: 170px !important;
    }
    .content1, .content2 {
        text-align: center;
        width: 100%;
        padding-right: 0;
        font-size: 54px !important;
    }
    .content-btn1, .content-btn2{
        font-size: 72px;
        color: #541554;
        padding: 40px;
        margin: 2rem;
    }
    .content-btn2{
        color: #fff !important;
    }
    .section1-buttons{
        position: relative;
        text-align: center;
    }
    .content-btn1{
        padding: 40px 80px 40px 70px !important;
    }
    .google-img{
        height: 0%;
        width: 0%;
    }
    

         /* Section-2 */

    .section2 {
        width: 393% !important;
        /* height: 230px !important; */
    }
    .section-2-heading{
        background: #f4ede4 ;
        font-size: 72px;
        padding-right: 8rem;
        top: 52rem !important; 
    }
    .section-2-content {
        background: #f4ede4 ;
        font-size: 36px;
        top: 58rem;
        margin: 4rem -38rem 0rem -8rem;
        padding: 1rem 28rem 6rem 7rem;
        left: 46rem;
    }
    .video2{
        background: #f4ede4 ;
        width: 790px;
        height: 478px;
    }
    .section-2-link{
        background: #f4ede4 ;
        font-size: 28px;
        top: 75rem !important;
        left: 45rem;
    }
    .p-trust{
        font-size: 48px  !important;
    }
    .trust-logo{
        width: 16%;
    }

    /* Section-3 */

    .section3{
        padding-top: 10px !important;
        width: 393% !important;
        top: 212rem !important;
    }
    .section-3-heading{
        font-size: 72px;
    }
    .section-3-content{
        font-size: 36px;
        padding-right: 38rem;
    }
    .video3{
        left: 53rem;
        width: 790px;
        height: 478px;
    }
    .section-3-link{
        font-size: 28px;
        top: 10rem !important;
        right: 0rem;
    }
    /* Section-4 */

    .section4{
        position: relative;
        top: 67rem;
        height: 190vh;
        width: 393%;
     }
    .video4{
      left: 0rem;
      position: relative;
      top: 2rem;
     }
    .link4{
      top: 6rem;
     }

     /* Section-5 */

     .section5 {
        top: 70rem;
    }
    .section-5-heading{
        text-align: center;
        font-size: 90px;
        width: 270%;
        height: 50vh;
    }
    .section-5-content{
        text-align: center;
        font-size: 50px;
        width: 270%;
        height: 50vh;
    }
    .section-6-btn{
        bottom: 10rem;
        position: relative;
        text-align: center!important;
        left: 15rem;
        width: 100%;
    }
    .section-6-btn1, .section-6-btn2{
        margin-top: 27px;
        width: 160%;
        font-size: 44px;
    }
    .emoji1 {
        width: 215%;
        bottom: 35rem;
        position: relative;
        right: 20rem;
        z-index: -1;
        height: 28vh;
    }
    .emoji2 {
        bottom: 35rem;
        width: 215%;
        z-index: -1;
        height: 28vh;
        position: relative;
        left: 45rem !important;
    }
    .stat-number {
        position: relative;
        text-align: center;
        right: 6rem;
        bottom: 25rem;
    }
    .stat-number1{
        left: 33rem;
        width: 40%;
    } 
    .stat-number2{
        top: 30rem;
        left: 33rem;
        width: 40%;
    }
    .stat-number3{
        top: 60rem;
        bottom: 0.4rem;
        width: 40%;
        left: 33rem;
    }
    .number1, .number2, .number3{
        font-size: 12rem;
    }
    .stat-content1, .stat-content2, .stat-content3{
        font-size: 37px;
        width: 200%;
    }

    /* Section-6 */
    .section6 {
        width: 240%;
        position: relative;
        top: 105rem;
    }
    .founder-name {
        font-size: 48px;
    }
    .founder-content {
        font-size: 32px;
    }
    .customer-qoute{
        font-size: 68px;
    }
    .founder-link {
        font-size: 42px;
    }
    .survey-text{
        font-size: 32px;
    }
    .video-4 {
        width: 1450px;
        border-radius: 0px 469px 469px 0px;
        height: 161vh;
    }
    
    /* Section-7 */

    .section-7{
        width: 386%;
        height: 392vh;
        position: relative;
        top: 112rem;
    }
    .section-7-heading{
        padding: 2rem 18rem 3rem 18rem;
        font-size: 5rem;
    }
    .card1{
        position: absolute;
        left: 8.5rem;
        height: 152vh;
        width: 36%;
    }
    .card1-link{
        margin: 8rem 0 0 0 ;
    }
    .card2{
        position: absolute;
        left: 52rem;
        height: 152vh;
        width: 36%;
    }
    .card3{
        position: relative;
        top: 54rem;
        width: 38%;
        height: 152vh;
        left: 7rem;
    }
    .card4{
        left: 50rem;
        position: relative;
        width: 38%;
        height: 152vh;
        top: 5rem;
    }
    .img-1{
        width: 90%;
        /* height: 100vh; */
    }
    .card2-link {
        margin-top: 10px;
    }
    .card3-link {
        margin-top: 58px;
    }
    .card-title {
        color: #000;
        font-size: 42px;
    }
    .sub-title {
        color: #000;
        font-size: 2.875rem;
    }

        /* Section-8 */

        .section8 {
            width: 386%;
            position: relative;
            top: 112rem;
        }
        .section-8-heading {
            font-size: 84px;
        }
        .sec8-btn1, .sec8-btn2 {
            font-size: 52px;
            position: relative;
            bottom: 3rem;
        }
        /* Section-9 */

    .section9 {
        height: 0vh;
        position: relative;
        top: 99rem;
    }
    .slack-logo{
        position: relative;
        right: 2rem;
        width: 68% !important;
    }
    .section-9-contents{
        position: relative;
        left: 12rem;
    }
    .row-heading {
        font-size: 70px;
    }
    .row1-text, .row2-text, .row3-text, .row4-text, .row5-text {
        font-size: 42px;
        margin-bottom: 12px;
    }
    .row1{
        position: relative;
        left: 12rem;
        bottom: 10rem;
    }
    .row2 {
        position: relative;
        bottom: 41rem;
        left: 50rem;
    }
    .row3 {
        left: 12rem;
        position: absolute;
        bottom: 14rem;
    }
    .row4 {
        position: absolute;
        top: 26.5rem;
        left: 50rem;
    }
    .row5 {
        position: absolute;
        top: 64rem;
        left: 12rem;
    }

     /* footer */

     .footer {
        text-align: center;
        position: relative;
        width: 250%;
        height: 0vh;
        top: 225rem;
    }
    .footer-left {
        width: 100%;
        position: relative;
        left: 5rem;
        /* right: 0; */
        top: 9rem;
    }
    .footer-icon1 {
        font-size: 6rem;
        vertical-align: middle;
    }
    .footer-line {
        width: 140%;
        margin-left: 5rem;
        opacity: 2.25;
    }
    .footer-h1, .footer-h2, .footer-h3, .footer-h4, .footer-h5, .footer-h6, .footer-h7,.footer-h8{
        text-decoration: none;
        border-bottom: none;
        position: relative;
        right: 24rem;
        color: #000;
        font-weight: 700;
        font-size: 58px;
    }
    .footer-h2 {
        margin-left: 5.5rem;
    }
    .footer-h3 {
        margin-left: 3.5rem;
    }
    .footer-h4 {
        margin-left: 17rem;
        width: 100%;
    }
    .footer-h5 {
        margin-left: 26rem;
    }
    .footer-h6 {
        margin-left: 11.5rem;
    }
    .footer-h7 {
        width: 100%;
        margin-left: 12.5rem;
    }
    .footer-h8 {
        font-size: 108px;
        width: 100%;
        color: #1264a3;
        margin-right: 62rem;
        position: relative;
        left: 7rem;
    }
    .footer-icon {
        font-size: 12rem;
        right: 6rem;
        margin: 34px;
        position: relative;
        color: #000;
        vertical-align: middle;
    }
    .footer-text {
        top: 87rem;
        font-size: 28px;
        width: 143%;
    }
    .footer-icon2 {
        font-size: 10rem;
        color: #1264a3;
        vertical-align: middle;
    }
    .footer-icon2::after {
        font-size: 8rem;
    }

    }

      /* Resolution:Google-Img */

    @media (max-width:360px){
        .body{
            width: 100%;
            height: auto;
        }
        .google-img{
            top: 56px;
            position: absolute;
            left: 52px;
        }
    }

/* Mobile-M:375px */

@media (max-width:375px){
    .video-3{
        left: 42rem;
        top: 0;
    }
}

/* Mobile-S:320px */

@media(max-width:320px){

    .section-3-link{
        top: 12rem !important;
        z-index: 99;
    }
    .link4{
        top: 16rem !important;
        z-index: 99;
    }
    .section4{
        height: 200vh !important;
    }
     .section-2-content {
            padding: 1rem 6rem 6rem 7rem;
    }
    .section-2-heading{
        padding-right: 0;
    }
    .video-3 {
        left: 30rem;
        top: 0;
    }

    /* Section-5 */

    .stat-number {
        position: relative;
        text-align: center;
        bottom: 24rem;
    }
    .stat-number1{
        left: 16rem;
        width: 100%;
    } 
    .stat-number2{
        left: 16rem;
        top: 40rem;
        width: 100%;
    }
    .stat-number3{
        top: 70rem;
        width: 100%;
        left: 16rem;
    }
    .number1, .number2, .number3{
        font-size: 12rem;
    }
    .stat-content1, .stat-content2, .stat-content3{
        position: relative;
        right: 10rem;
        font-size: 37px;
        width: 200%;
    }

    /* Section-7 */

.section-7{
    height: 406vh !important;
}
.bg-img{
    min-height: 498px;
}

}